
<div class="w3-container" id="where" style="padding-bottom:32px;">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">WHERE TO FIND US</span></h5>
    <p>Find us at some address at some place.</p>
       <center style='margin: 30px 10px 10px 10px'>
<script src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDR6lWdtghWenYzEpu1mj31O_0JxX5r5MI'></script>
<div style='overflow:hidden;height:400px;width:520px;'><div id='gmap_canvas' style='height:400px;width:520px;'></div>
<style>#gmap_canvas img{max-width:none!important;background:none!important}</style>
</div>
 <a href='https://writingmasterthesis.com/'>https://writingmasterthesis.com/</a> 
 <script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=9dc64c32a4d6954f9caf52c5edefc74cbaa6b503'></script>
 <script type='text/javascript'>
  function init_map()
  {
    var myOptions = { zoom:12,center:new google.maps.LatLng(9.959006433017105,76.41675248535796),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(9.959006433017105,76.41675248535796)});infowindow = new google.maps.InfoWindow({content:'<strong>Med4u</strong><br>Shanmugham Road<br>682031 Kochi<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);
</script>
</center>