<form action="https://sandboxsecure.payu.in/_payment"  name="payuForm" method="post">    
    {% csrf_token %}        
    <input type="text" name="key" value="{{ key }}" />            
    <input type="text" name="hash" value="{{ hash }}"/>            
    <input type="text" name="txnid" value="{{ txnid }}" />
    <input type="text" name="amount" value="10.00" />
    <input type="text" name="email" value="{{ email }}" />
    <input type="text" name="firstname" value="{{ firstname }}" />
    <input type="text" name="phone" value="{{ phone }}" />
    <input type="text" name="productinfo" value="{{ productinfo }}"/>
    <input type="text" name="surl" value="{{ surl }}"/>
    <input type="text" name="furl" value="{{ furl }}" />
    <input type="text" name="service_provider" value="{{ service_provider }}" />

    <div class="form-group">
        <div class="col-md-12 col-sm-12">
            Amount : 10
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12 col-sm-12">
            Purpose : {{ docname }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12 col-sm-12">
            Name : {{user.username}}
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12 col-sm-12">
            Email : {{email}}
        </div>
    </div>            
    <div class="form-group">
        <div class="col-md-12 col-sm-12">
            Time : {{s_time}}:{{e_time}}
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12 col-sm-12">
            Transaction ID : {{txnid}}
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12 col-sm-12" style="padding-bottom:20px;padding-top:20px;">
            After clicking 'Pay Now' button, you will be redirected to PayUMoney Secure Gateway.
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-12 col-sm-12">
           <input type="submit" name="pay_now" value="pay_now">
        </div>
    </div>
</form>