
<!DOCTYPE html>
<html>
<head>
   <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
  <title>update</title>

</head>
<body>
  <div class='container'>
<form class='list-group' method="post" action='.'>
    {% csrf_token %}
    {{ form.as_p }}
   
    <input type="submit" value="Update">
</form>
</div>
</html>

