{% load static from staticfiles%}
<!DOCTYPE html>
<html>
<head>
	<title>details</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> </head>
<body>
<div class="container">

<table border="2">
	<tr>
		<th>Username</th>
		<th>Name</th>
		<th>Email</th>
		<th>Place</th>
		<th>Address</th> 
		<th>Zipcode</th>
		<th>Update</th>
		
		
	</tr>
	<tr>
		
		<td>{{Userdetail.user_data.username}}</td>
		<td>{{Userdetail.user_data.first_name}}</td>
		<td>{{Userdetail.user_data.email}}</td>
		<td>{{Userdetail.place}}</td>
		<td>{{Userdetail.address}}</td>
		<td>{{Userdetail.zipcode}}</td>
		
		<td><a href="{% url 'update' Userdetail.id %}">update</a></td> 
	</tr>

</table>
</div>
</body>
</html>
